@keyframes cards {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes textsIntro {
  from {
    transform: translate3d(0px, -100px, 0px);
    opacity: 0;
  }
  to {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
@keyframes sideBar {
  from {
    transform: translate3d(-700px, 0px, 0px);
    opacity: 0;
  }
  to {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
@keyframes hidePreloader {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 0;
    height: 0;
  }
}
@keyframes logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes footer {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes sideBarReponsive {
  from {
    transform: translate3d(0px, 100px, 0px);
    opacity: 0;
  }
  to {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
#intro_text {
  padding: 50px 0px;
  animation-name: textsIntro;
  animation-delay: 0.1 0.3s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#updated_text {
  padding: 50px 0px;
  text-align: right;
  animation-name: textsIntro;
  animation-delay: 0.1 0.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}