// Dark mode 
$dark-components: #262626;
$dark-general: #1B1B1B;
$dark-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
$white-text: #ffffff;
$icons: #67676D;
$yellow: #FFAA00;

// Light mode
$light-components: #FFFFFF;
$light-general: #F5F5FC;
$black-text: #262626;
$light-shadow: 0px 5px 5px rgba(0, 0, 0, 0.03);

// Cards colors
$card-cases: #0075FF;
$card-confirmed: #FFAA00;
$card-recovered: #00FF66;
$card-deaths: #FF0000;

// Card call-to-action
$card-support: #FF003D;
$card-docs: #5200FF;
$card-api: #00C2FF;
