@media (max-width: 1600px) {

  

}


@media (min-width: 1440px) and (max-width: 1599.98px) {

  body {
    background-color: tomato !important;
  }

  #sideBar {
    display: none;
  }

  .position-absolute {
    position: relative !important;
  }
  
}




@media (min-width: 1360px) and (max-width: 1439.98px) {

  

}



@media (min-width: 1200px) and (max-width: 1359.98px) {


  
}




@media (min-width: 992px) and (max-width: 1023.98px) {





}



@media (min-width: 788px) and (max-width: 991.98px) {

  


}



@media  (min-width:300px) and (max-width: 787px) {



  
}

